@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');


/* GENERAL */
* {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: hsl(217, 100%, 97%);
}

/* CONTAINER     */
.container {
    width: 850px;
    height: 500px;
    margin: 10% auto;
    background-color: white;
    border-radius: 2%;
    position: relative;
    padding-top: 1%;
    padding-bottom: 1%;
    overflow: hidden;
}


/* NAV START */
.steps-col {
    background: url("./assets/images/bg-sidebar-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
    margin-left: 2%;
    display: flex;
    gap: 6%;
    color: hsl(229, 24%, 87%);
    font-weight: bold;
}

.steps-col .step {
    display: flex;
    gap: 20px;
    position: relative;
    top: 8%;
    left: 10%;
}

.step .step-num {
    border: 1.5px solid hsl(229, 24%, 87%);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step .labels {
    display: flex;
    flex-direction: column;
}

.labels .step-label {
    color: hsl(231, 11%, 63%);
    font-weight: 100;
}
/* NAV END */



/* FORM 1 START */

.container form{
    width: 450px;
    position: absolute;
    left: 40%;
    top: 8%;
    transform: 0.5s;
}

form p {
    margin-top: 3%;
    margin-bottom: 10%;
    color: hsl(231, 11%, 63%);
}

form .input-label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 8% auto;
}

form .input-label input {
    height: 2.3rem;
    border-radius: 5px;
    border: 1px solid hsl(229, 24%, 87%);
    padding-left: 10px;
    font-size: 1rem;
}
::placeholder {
    text-align: left;
    font-weight: bold;
    font-size: 14px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

form .next {
    width: 24%;
    height: 2.7rem;
    background-color: hsl(213, 96%, 18%);
    color: white;
    font-size: 13px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    position: absolute;
    top: 1rem;
}

form .next:hover {
    background-color: hsl(243, 100%, 62%);
}

/* FORM 1 END */


/* FORM 2 START */

#form2 {
    left: 900px;
}

.billing-options {
    display: flex;
    gap: 15px;
}

.options {
    border: 1px solid hsl(229, 24%, 87%);
    background-color: white;
    width: 225px;
    height: 175px;
    border-radius: 10px;
    position: relative;
}

.billing-options input:checked + .options {
    background-color: hsl(217, 100%, 97%);
    border: 2px solid hsl(243, 100%, 84%);
}

.billing-options input{
    display: none;
}

.options img {
    position: absolute;
    left: 15%;
    top: 10%;
}

.options h6 {
    font-size: 1rem;
    position: absolute;
    top: 60%;
    left: 15%;
}

.options p {
    position: absolute;
    top: 70%;
    left: 15%;
}

.options .free {
    position: absolute;
    top: 83%;
    color: black;
    font-size: 12px;
}

.toggle-btn {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    background-color: hsl(231, 100%, 99%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8% auto;
    gap: 5%;
}

.button {
    background-color: hsl(213, 96%, 18%);
    width: 40px;
    height: 20px;
    border-radius: 200px;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
}

.button::before {
    position: absolute;
    content: '';
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
    transition: 0.2s;
}

.toggle-btn input:checked + .button {
    background-color: hsl(213, 96%, 18%);
}

.toggle-btn input:checked + .button::before {
    transform: translateX(20px);
}

.toggle-btn input {
    display: none;
}

.btn-container .prev {
    position: absolute;
    top: 1.5rem;
    right: 82%;
    background: none;
    border: none;
    width: 24%;
    font-size: 1rem;
    cursor: pointer;
    color: hsl(231, 11%, 63%);
    font-weight: bold;
}

.prev:hover {
    color: hsl(243, 100%, 62%);
}
/* FORM 2 END */




/* FORM 3 START */

#form3{
    left: 900px;
}

form .checkbox-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

form .checkbox-container .checkboxes {
    display: flex;
    border: 2px solid hsl(217, 100%, 97%);
    height: 4.5rem;
    border-radius: 7px;
    gap: 5%;
    position: relative;
}

.checkbox {
    margin-left: 5%;
    margin-top: 5%;
    width: 1.2rem;
    height: 1.2rem;
}

.checkboxes .checkbox-labels {
    margin: 3% 0;
}

.checkboxes span {
    position: absolute;
    left: 85%;
    top: 40%;
    color: hsl(243, 100%, 62%);
}

#form3 .btn-container {
    top: 2.25rem;
}

/* FORM 3 END */




/* FORM 4 START*/
#form4 {
    left: 900px;
}

.calculations {
    background-color: hsl(217, 100%, 97%);
    height: 12rem;
    border-radius: 10px;
    position: relative;
}

.subtotal-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
}

.subtotal-heading #subtotal {
    font-weight: bold;
}

.calculations span {
    color: hsl(213, 96%, 18%);
}

.subtotal-heading .subtotal-button-label {
    width: 100%;
}

.subtotal-button-label button {
    text-decoration: underline;
    border: none;
    background: none;
    color: hsl(231, 11%, 63%);
    cursor: pointer;
    font-size: 12px;
}

.subtotal-button-label button:hover {
    color: hsl(243, 100%, 62%);
}

hr {
    opacity: 27%;
    margin-left: 5.5%;
    margin-right: 5.5%;
    margin-top: 2%;
}

.ads-on-section {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.ads-on-section p, .Total p {
    margin-left: 5.5%;
    margin-top: 4%;
}

.ads-on-section span {
    margin-right: 5.5%;
}

.calculations .ads-on-section {
    margin-top: -2rem;
}

.ads-on-section p, .ads-on-section p {
    margin-top: -2px;
}

.calculations .ads-on-container {
    margin-top: 3rem;
}

.Total {
    display: flex;
    justify-content: space-between;
}

#total-amount {
    color: hsl(243, 100%, 62%);
    font-weight: bold;
    margin-right: 5.5%;
    margin-top: 4%;
}

.Total p {
    font-size: 14px;
}

#form4 .btn-container {
    top: 1.48rem;
}
/* FORM 4 END */
